html, body {
  height: 99%;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

.flex-container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin: auto;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.flex-container::-webkit-scrollbar {
  display: none;
}

.example {
}

.header {
  display: flex;
  flex-direction: row;
  background: black;
  padding:5px 25px 15px 25px;
  width:100%;
  height: 60px;
  z-index: 1;
}

.menu img {
  position: absolute;
  right: 20px;
  height: 18px;
  width: 25px;
}

.nav {
  padding: 0px 20px 20px 0px;
  margin-right: 0px;
  margin-left: auto;
  z-index: 10;
}

.navb {
  background: black;
  flex-direction: column;
  overflow: auto;
  left: scroll;
  right: 0px;
}

.menu ul, 
.menu input, 
.menu .closer, 
.menu input:checked ~ .opener{
    display:none;
}
.menu input:checked ~ ul,
.menu input:checked ~ .closer{
    display:flex;
    flex-direction: column;
}

.nav a
 {
  background-color: transparent;
  border: none;  
  color: white;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  transition-duration: 0.4s;
  border-radius: 8px;
  float: left;
}

.menu a:hover
 {
  background-color: gray;
  color: white;}

.next a
{
  padding: 10px;
  border: 1px solid;
  border-radius: 25px;
}

.next a:hover
{
  background-color: lightgray;
  padding: 10px;
  border: 1px solid;
  border-radius: 25px;
}

.main {
  overflow: auto;
  height: 100%;
  z-index: 0;
}

.content {
  margin: auto;
  padding: 5px;
  max-width:1000px;
  height: auto;
  width: 95%;
  z-index: 0;
}

table {
  display: table;
  width: 90%;
  margin: auto;
}

.column {
  float: left;
  padding: auto;
  margin: auto;
  height: 100%;
  width: 50%;
}

.h1 {
  background: #00008A;
  color: white;
  padding: 1px;
}

.h2 {
  background: #8A0000;
  color: white;
}

.thead {
  background: #00378A;
  color: white;
}

.insert {
  background:LightGray;
  padding:5px;
}

/* Responsive
==================================== */

@media (max-width:813px) {
        .responsive tr {    display: table;  width:100%;    }               
        .responsive td {    display: table-row; }
	.menu label { margin: auto; display: block; } 
        .row div {    display: table;  width:100%;    } 
        .column {    display: table-row; }

    }
